body {
    background-color: rgb(237, 237, 237);
}

img {
    width: 20%;
    border-radius: 10%;
}

.p-img {
    color: coral;
}

ol {
    color: coral;
}

h1 {
    color: gray;
}

h2 {
    color: deepskyblue;
}
